/*FrontPage*/
.Main{
  display:flex;
  justify-content : center;
  padding:0.2rem;
}

.Middle-Grid{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px) {
  .Middle-Grid {
    width: 60%;
  }
}

.logo {  
  width: 25rem;
  height: 6rem;
  margin: 3rem 0;
  
}

.TopSection{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.SearchTask{
  background-color: #1f1e1e;
  color: #ffffff;
  border: 0.05rem solid rgb(78, 76, 76);
  padding-left: 0.5rem;
  width: 17rem;

}
.SearchTask::placeholder{
  color:white
}
.SearchTask:focus {
  outline: none;
}

.Top-ButtonSection{
  display:flex;
  gap:1rem;
}

.Column-Section{
  margin: 1rem 0 1rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  color : white;
  border-collapse: collapse;
  width:100%;
}

.columnTitle{
  border: 0.05rem solid rgb(255, 255, 255);
  background-color: #292727;
  padding-left:0.5rem;
  padding-right: 1.5rem;
}

.TaskRows{
  display:flex;
  flex-direction: column;
  width : 100%;
  margin :0 0 1rem 0;
  padding:0;
}

.Column-Section.Row-Section {
  margin :0;
  padding: 0 0;
}

.columnTitle.Row-Title{
  margin:0;
  background-color: #000000;
}



/*Buttons*/
.ButtonStyle {
  background-color: #1f1e1e;
  border-radius: 0.3rem;
  box-sizing: border-box;
  color: #ffffff;
  border: 0.05rem solid rgb(78, 76, 76);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 0rem 1rem;
  transition: transform 0.4s ease;
  appearance: none;
  -webkit-appearance: none;
}

.ButtonStyle:hover {
  border: 0.05rem solid rgb(189, 187, 187);
  background-color: #292727;
  transform: translateY(-0.25rem);
}



/*FONTs */

.alumni-sans-regular{
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size : 1.6rem;
}