

.Column-Section{
  margin: 1rem 0 1rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border-collapse: collapse;
  width:100%;
}

.TaskRows{
  display:flex;
  flex-direction: column;
  width : 100%;
  margin :0 0 1rem 0;
  padding:0;
}

.Column-Section.Row-Section:hover{
  border-width: 0.1rem;
  background-color: #292727;
  transform: translateY(-0.25rem);
  border: 0.01rem solid rgb(255, 255, 255);
}

.columnTitle{
  border: 0.05rem solid rgb(255, 255, 255);
  background-color: #292727;
  padding-left:0.5rem;
}

.Column-Section.Row-Section{
  border: 0rem solid rgb(255, 255, 255);
  margin :0;
  padding: 0 0;
  cursor: pointer;
  transition: transform 0.2s ease, border-width 0.2s ease;
}

.columnTitle.Row-Title{
  margin:0;
  background-color: #000000;
}




/*Fonts */
.alumni-sans-regular{
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size : 1.6rem;
  color:white;
}